// Breakpoints
$tablet: 768px;
$desktop: 1024px;

// Fonts
$font-stack: 'Jost', Arial, Helvetica, sans-serif;

// Colors
$white: #fff;
$soft-white: #F2F4FE;

$violet: #AD1FEA;
$soft-violet: #C75AF6;

$indigo: #4661E6;
$med-indigo: #CFD7FF;
$soft-indigo: #7C91F9;
$pale-indigo: #F2F4FF;

$cobalt: #3A4374;
$soft-cobalt: #656EA3;

$naked-cobalt: #647196;

$red: #D73737;
$soft-red: #E98888;
