@import '../styles/variables';
@import '../styles/utils';

$menu-height: calc(100vh - 4.5rem);

.header {
  position: relative;
}

.menu {
  position: absolute;
  left: 100%;
  background-color: rgba(0,0,0,0.5);
  transition: all .5s ease;

  [data-menu="open"] & {
    right: 0;
    left: 0;
    height: $menu-height;
    z-index: 1;
  }
}

.menu-inner {
  background-color: $alt-soft-white;
  width: 73%;
  height: $menu-height;
  margin-left: auto;
  padding: 1rem;
}

.banner {
  background: radial-gradient(166.82% 166.82% at 103.90% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  color: $white;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: -0.01169rem;
  }

  p {
    font-size: 0.8125rem;
    font-weight: 500;
  }
}
