@import '../styles/variables';
@import '../styles/utils';

$menu-height: calc(100vh - 4.5rem);

.main {
  @include desktop {
    display: grid;
    grid-template-columns: 255px auto;
    gap: pxToRem(30);
  }
}

.header {
  position: relative;

  @include tablet {
    display: flex;
    gap: pxToRem(10);
  }

  @include desktop {
    flex-direction: column;
  }
}

.menu {
  position: absolute;
  left: 100%;
  background-color: rgba(0,0,0,0.5);
  transition: all .5s ease;

  @include tablet {
    position: static;
    background-color: transparent;
  }

  [data-menu="open"] & {
    right: 0;
    left: 0;
    height: $menu-height;
    z-index: 1;
  }
}

.menu-inner {
  background-color: $alt-soft-white;
  width: 73%;
  height: $menu-height;
  margin-left: auto;
  padding: 1rem;

  @include tablet {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    display: flex;
    gap: pxToRem(10);
  }

  @include desktop {
    flex-direction: column;
  }
}

.banner {
  background: radial-gradient(166.82% 166.82% at 103.90% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  color: $white;
  padding: 1rem 1.5rem;

  @include tablet {
    width: pxToRem(223);
    height: pxToRem(178);
  }

  @include desktop {
    width: pxToRem(255);
    height: pxToRem(137);
  }

  display: flex;
  justify-content: space-between;

  h1 {
    font-size: pxToRem(15);
    font-weight: 700;
    letter-spacing: -0.01169rem;
  }

  p {
    font-size: pxToRem(13);
    font-weight: 500;
  }
}

